In [1]:
#applying filter option using pyspark

In [2]:
#1.&,|, ==
#2.~

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [6]:
spark

In [7]:
df3=spark.read.csv(r'D:\Naresh_it_praksah_senapathi\sept_DL\Spark\sample1.csv',header=True,inferSchema=True)

In [8]:
df3.show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|    jack| 31|        10| 30000|
|    alex| 30|         8| 25000|
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
|  sandra| 21|         1| 15000|
|casandra| 23|         2| 18000|
+--------+---+----------+------+

filter operations

In [10]:
#salary of the people less than equal to 20000
df3.filter("salary<=20000").show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
|  sandra| 21|         1| 15000|
|casandra| 23|         2| 18000|
+--------+---+----------+------+

In [11]:
df3.filter("salary<=20000").select(['name','age']).show()

+--------+---+
|    name|age|
+--------+---+
|caroline| 29|
|    paul| 24|
|  sandra| 21|
|casandra| 23|
+--------+---+

In [12]:
df3.filter(df3['salary']<=20000).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
|  sandra| 21|         1| 15000|
|casandra| 23|         2| 18000|
+--------+---+----------+------+

In [15]:
df3.filter((df3['salary']<=2000) |
          (df3['salary']>=15000)).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|    jack| 31|        10| 30000|
|    alex| 30|         8| 25000|
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
|  sandra| 21|         1| 15000|
|casandra| 23|         2| 18000|
+--------+---+----------+------+

In [16]:
df3.filter(df3['salary']==20000).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
+--------+---+----------+------+

In [17]:
df3.filter(df3['salary']>=20000).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|    jack| 31|        10| 30000|
|    alex| 30|         8| 25000|
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
+--------+---+----------+------+

In [18]:
df3.filter(~(df3['salary']<=20000)).show()

+----+---+----------+------+
|Name|age|Experience|Salary|
+----+---+----------+------+
|jack| 31|        10| 30000|
|alex| 30|         8| 25000|
+----+---+----------+------+

In [20]:
df3.filter((df3['salary']<=20000) &
          (df3['salary']>=15000)).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
|  sandra| 21|         1| 15000|
|casandra| 23|         2| 18000|
+--------+---+----------+------+