Pyspark groupBY and aggregate function

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('agg').getOrCreate()

In [3]:
spark

In [5]:
df=spark.read.csv(r'D:\Naresh_it_praksah_senapathi\sept_DL\Spark\sample4.csv',header=True,inferSchema=True)

In [6]:
df.show()

+--------+------------+------+
|    Name| Departments|salary|
+--------+------------+------+
|    jack|Data Science| 10000|
|    alex|          ML|  5000|
|caroline|          AI|  4000|
|    jack|          AI|  4000|
|  sandra|Data Science|  3000|
|    jack|         NLP| 20000|
|    alex|          AI| 10000|
|   kathy|          ML|  5000|
|  andrew|Data Science| 10000|
|    jack|         NLP|  2000|
+--------+------------+------+

In [9]:
df.filter(df['salary']<=2000).show()

+----+-----------+------+
|Name|Departments|salary|
+----+-----------+------+
|jack|        NLP|  2000|
+----+-----------+------+

In [10]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

group by to find maximum salary

In [11]:
df.groupBy('Name').sum().show()

+--------+-----------+
|    Name|sum(salary)|
+--------+-----------+
|    jack|      36000|
|  andrew|      10000|
|  sandra|       3000|
|    alex|      15000|
|   kathy|       5000|
|caroline|       4000|
+--------+-----------+

In [13]:
df.groupBy('Name').avg().show()

+--------+-----------+
|    Name|avg(salary)|
+--------+-----------+
|    jack|     9000.0|
|  andrew|    10000.0|
|  sandra|     3000.0|
|    alex|     7500.0|
|   kathy|     5000.0|
|caroline|     4000.0|
+--------+-----------+

In [14]:
#groupBY departments which gives maximum salary
df.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         NLP|      22000|
|          AI|      18000|
|          ML|      10000|
|Data Science|      23000|
+------------+-----------+

In [15]:
df.groupBy('Departments').mean().show()

+------------+-----------------+
| Departments|      avg(salary)|
+------------+-----------------+
|         NLP|          11000.0|
|          AI|           6000.0|
|          ML|           5000.0|
|Data Science|7666.666666666667|
+------------+-----------------+

In [16]:
df.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         NLP|    2|
|          AI|    3|
|          ML|    2|
|Data Science|    3|
+------------+-----+

In [17]:
df.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+

In [18]:
df.groupBy('Departments').min().show()

+------------+-----------+
| Departments|min(salary)|
+------------+-----------+
|         NLP|       2000|
|          AI|       4000|
|          ML|       5000|
|Data Science|       3000|
+------------+-----------+

In [19]:
df.groupBy('Departments').max().show()

+------------+-----------+
| Departments|max(salary)|
+------------+-----------+
|         NLP|      20000|
|          AI|      10000|
|          ML|       5000|
|Data Science|      10000|
+------------+-----------+

In [20]:
df.groupBy('Name').min().show()

+--------+-----------+
|    Name|min(salary)|
+--------+-----------+
|    jack|       2000|
|  andrew|      10000|
|  sandra|       3000|
|    alex|       5000|
|   kathy|       5000|
|caroline|       4000|
+--------+-----------+

In [21]:
df.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+