In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('frame').getOrCreate()

In [4]:
spark

In [5]:
#load the dataset
df=spark.read.csv(r'D:\Naresh_it_praksah_senapathi\sept_DL\Spark\sample1.csv')

In [6]:
df

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [7]:
df.show()

+--------+---+----------+------+
|     _c0|_c1|       _c2|   _c3|
+--------+---+----------+------+
|    Name|age|Experience|Salary|
|    jack| 31|        10| 30000|
|    alex| 30|         8| 25000|
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
|  sandra| 21|         1| 15000|
|casandra| 23|         2| 18000|
+--------+---+----------+------+

 df1=spark.read.option()

In [9]:
df1=spark.read.option('header','true').csv(r'D:\Naresh_it_praksah_senapathi\sept_DL\Spark\sample1.csv',inferSchema=True)

In [10]:
df1.show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|    jack| 31|        10| 30000|
|    alex| 30|         8| 25000|
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
|  sandra| 21|         1| 15000|
|casandra| 23|         2| 18000|
+--------+---+----------+------+

In [12]:
df1.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

d

In [13]:
df1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [14]:
df1.head()

Row(Name='jack', age=31, Experience=10, Salary=30000)

In [15]:
df1.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  null|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  null| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|  alex|                21|                1|             15000|
|    max|sandra|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [16]:
#adding column in the set
df1=df1.withColumn('Experience after 2 years',df1['Experience']+2)

In [17]:
df1

DataFrame[Name: string, age: int, Experience: int, Salary: int, Experience after 2 years: int]

In [18]:
df1.show()

+--------+---+----------+------+------------------------+
|    Name|age|Experience|Salary|Experience after 2 years|
+--------+---+----------+------+------------------------+
|    jack| 31|        10| 30000|                      12|
|    alex| 30|         8| 25000|                      10|
|caroline| 29|         4| 20000|                       6|
|    paul| 24|         3| 20000|                       5|
|  sandra| 21|         1| 15000|                       3|
|casandra| 23|         2| 18000|                       4|
+--------+---+----------+------+------------------------+

In [19]:
#drop the columns
df1=df1.drop('Experience after 2 years')

In [20]:
df1.show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|    jack| 31|        10| 30000|
|    alex| 30|         8| 25000|
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
|  sandra| 21|         1| 15000|
|casandra| 23|         2| 18000|
+--------+---+----------+------+

In [23]:
#rename the column
df1.withColumnRenamed('Name','New Name').show()

+--------+---+----------+------+
|New Name|age|Experience|Salary|
+--------+---+----------+------+
|    jack| 31|        10| 30000|
|    alex| 30|         8| 25000|
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
|  sandra| 21|         1| 15000|
|casandra| 23|         2| 18000|
+--------+---+----------+------+

In [24]:
df1.show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|    jack| 31|        10| 30000|
|    alex| 30|         8| 25000|
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
|  sandra| 21|         1| 15000|
|casandra| 23|         2| 18000|
+--------+---+----------+------+